   <div *ngFor="let request of requests">
      <div class="ui-g-12 ui-md-8 request-details">
        <div class="ui-g">
          <div class="ui-g-4">id:</div>
          <div class="ui-g-8">{{request.id}}</div>

          <div class="ui-g-4">msg:</div>
          <div class="ui-g-8">{{request.msg}}</div>

          <div class="ui-g-4">bloodType:</div>
          <div class="ui-g-8">{{request.bloodType}}</div>

          <div class="ui-g-4">value:</div>
          <div class="ui-g-8">{{request.value}}</div>

          <div class="ui-g-4">hospital:</div>
          <div class="ui-g-8">{{request.hospital|json}}</div>
        </div>
      </div>
   </div>
