<div class="div">
  <h1>Profile</h1>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Hospital Name">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Phone Number</span>
    </div>
    <input type="text" class="form-control" placeholder="Phone Number">
  </div>
<!--  <label for="Address">Address</label>-->
  <div class="d-inline-block p-2">
  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Country</span>
    </div>
    <input type="text" class="form-control" placeholder="Country">
  </div>
  </div>
  <div class="d-inline-block p-2">
    <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">City</span>
    </div>
    <input type="text" class="form-control" placeholder="City">
  </div>
  </div>
  <div class="d-inline-block p-2">
  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Area</span>
    </div>
    <input type="text" class="form-control" placeholder="Area">
  </div>
  </div>
  <br>
  <button class="btn btn-primary">Save</button>
</div>
