<div class="div">
        <div>
          <table class="table table-striped">
      
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Hospital</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Quantity</th>      
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let r of requests; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{r.hospital.name}}</td>
                <td>{{r.bloodType}}</td>
                <td>{{r.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>