<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://image.flaticon.com/icons/png/512/504/504174.png" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Blood++
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="signUp">Become A donater</a>
            </ul>
        </div>
    </nav>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <blockquote class="quote-box p-1">
                    <p class="quotation-mark">“</p>
                    <p class="quote-text p-2">
                        A life may depend on a gesture from you, a bottle of Blood.
                    </p>
                    <hr>
                    <div class="blog-post-actions">
                        <p class="blog-post-bottom float-right">
                            Blood++ team <3 </p> </div> </blockquote> </div> </div> <div class="col">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/7HXJyMjUBqI"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                    </div>
            </div>
            <div class="row">
                <img class="w-100" src="https://static.wixstatic.com/media/322901_aaa7341f35e04f56a678b3de30067747.jpg"
                    alt="infographic">
            </div>

        </div>
