<div class="card text-center w-50 m-auto mt-3">
  <div class="card-header">
    Donater Profile
  </div>
  <div class="card-body text-left">
    <h5 class="card-title">{{donater.name}}</h5>
    <div>
      <label>Date of birth: {{donater.DOB}}</label>
    </div>
    <div>
      <label>Date of birth: {{donater.DOB}}</label>
    </div>
    <div>
      <label>Address: {{donater.address}}</label>
    </div>
    <div>
      <label>Phone: {{donater.phone}}</label>
    </div>
    <div>
      <label>Least Donation Time: {{donater.leastDonationTime}}</label>
    </div>
  </div>
  <div class="card-footer text-muted">
    Number of Donation:{{donater.countOfDonations}}
  </div>
</div>
