<div class="about-section">
  <div class="inner-width">
      <h1>Blood++</h1>
    <div class="border"></div>
    <div class="about-section-row">
      <div class="about-section-col">
        <div class="about">
         
          <h3>
           Blood++ is an online service that helps hospitals get blood donators,with a high responsive webpage.
           Our WebApp helps people to get the closest hospitals to their location and check the donations of hospitals.
          </h3>
          
        </div>
      </div>
      <div class="about-section-col">
        
        <img src="assets\blood.jpg" alt="Blood Donator" style="max-height: 250px;">
      </div>
    </div>
  </div>
</div>