<div class="row">
    <div class="col-7">
      <h1>At Canonical, we believe in the power of open source to change the world</h1>
      <p>Canonical was created alongside Ubuntu to help it reach a wider market. Our services help governments and businesses the world over with migrations, management and support for their Ubuntu deployments. Together with our partners, we ensure that Ubuntu runs reliably on every platform from the PC and the smartphone to the server and, crucially, the&nbsp;cloud.</p>
    </div>
    <div class="col-5">
      <img src="adult-blood-care-1350560.jpg" alt="">
    </div>
  </div>